.checkoutBlock {
  height: 1024px;
  padding-top: 89px;
  .dropdown_block {
    display: flex;
    width: 974px;
    text-decoration: none;
    outline-style: none;
    align-content: space-around;
    overflow: hidden;
    & summary {
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      height: 73px;
      outline-style: none;
      display: flex;
      align-items: center;
    }

    & summary::-webkit-details-marker {
      display: none;
    }

    & form {
      flex-direction: row;
      padding-left: 33px;
      display: flex;
      margin-bottom: 97px;
      .register_block {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 13px;
        font-weight: 400px;
        line-height: 20px;
        & h4 {
          text-transform: uppercase;
        }
        & p {
          text-transform: capitalize;
          color: #b3b2b2;
          & span {
            color: #ff0d0d;
          }
        }

        & input[type="radio"] {
          width: 14px;
          height: 14px;
          border: 2px solid #555555;
          background-color: #ffffff;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
          }
        }

        & input[type="email"],
        [type="password"] {
          width: 390px;
          height: 45px;
          border: 1px solid #eaeaea;
          background-color: #ffffff;
          &:hover {
            cursor: pointer;
          }
        }
        .required {
          color: #ff0d0d;
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
        }
        & label {
          color: #222222;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          & span {
            color: #ff0d0d;
          }
        }
        & a {
          text-decoration: none;
          color: #b3b2b2;
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
        }
        & button {
          width: 180px;
          height: 50px;
          border: 1px solid #eaeaea;
          background-color: #ffffff;
          color: #4a4a4a;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
        }
        .login {
          & a {
            text-decoration: none;
            color: #222222;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            margin-left: 32px;
          }
          & button {
            width: 180px;
            height: 50px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            color: #4a4a4a;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .checkout_line {
    width: 1140px;
    height: 1px;
    background-color: #e8e8e8;
  }
}
