$colorButtonMain: #f16d7f;
$colorHeadlineText: #f16d7f;
.carousel_h {
  height: 10px;
  color: $colorHeadlineText;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 73px;
}
.carousel-indicators li {
  width: 63px;
  height: 3px;
  border: 1px solid #eaeaea;
}
.carousel-control-arrow {
  width: 47px;
  height: 47px;
  background-color: #2a2a2a;
  margin: auto;
}
.carousel-inner {
  width: 597px;
  height: 724px;
  margin: 0 auto;
}
.topNav a:hover {
  border-bottom: 3px solid #ef5b70;
  opacity: 70% !important;
  text-decoration: none;
}
.color_s {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  justify-content: left;
}
.color_dropdown {
  border: 1px solid #eaeaea;
}
.btn {
  text-align: left;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.form-control {
  text-align: left;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 200;
  line-height: 24px;
}
