@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0 auto;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.container {
  width: 1140px;
  margin: 0 auto; }

header {
  height: 100px;
  display: flex;
  align-items: center; }

.logo {
  width: 100px;
  line-height: 51px;
  text-transform: uppercase;
  background: url("../img/logo.png") no-repeat;
  background-blend-mode: overlay;
  font-size: 27px;
  padding-left: 72px;
  display: block;
  text-decoration: none;
  color: #222224;
  font-weight: 400; }

.logo span {
  color: #f16d7f;
  font-weight: 400; }

.search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
  margin-left: 46px; }

header .search button:first-of-type {
  padding: 14px;
  background-color: #f9f9f9;
  line-height: 38px;
  border: none;
  color: #222224;
  outline: none; }

header .search button:first-of-type:hover {
  background-color: #f5f5f5; }

.search__browse {
  color: #838383; }

header .search input {
  height: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; }

header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4; }

header .search button:last-child:hover {
  background-color: #f9f9f9; }

.header__cart {
  margin-left: auto;
  margin-right: 26px; }

.header__cart:hover {
  transform: scale(1.1);
  cursor: pointer; }

.header__account-bar {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 130px;
  line-height: 40px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-align: center; }

.header__account-bar:hover {
  box-shadow: 3px 0 3px darkgrey; }

.headerLine {
  border-bottom: 1px solid #ececec; }

.topNav {
  height: 51px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center; }

.topNav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222224;
  font-weight: 700; }

.topNav a:hover {
  color: #f16d7f; }

.topNav a:not(:last-child) {
  margin-right: 46px; }

.btn-secondary {
  line-height: 38px !important; }

.btn {
  padding-bottom: 0;
  padding-top: 0; }

body {
  margin: 0 auto;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.top-header {
  width: 100%;
  background-color: #f8f3f4; }

.top-header-container {
  width: 1140px;
  height: 148px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.list-links ul {
  display: flex; }
  .list-links ul li {
    list-style-type: none;
    text-align: center; }

.top-header-container p {
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.83;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 0 !important; }

.list-links ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  color: #636363;
  text-transform: uppercase; }

.list-links ul li a:hover {
  color: #f16d7f; }

body {
  margin: 0 auto;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.mailing {
  height: 438px;
  width: 100%;
  background-image: url(../img/blockBg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  margin: 0 auto 109px; }

.mailing-container {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  z-index: 20; }

.mailing-container__description {
  height: 438px;
  box-sizing: border-box;
  padding-top: 111px;
  display: flex;
  width: 569.5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.3px;
  color: #222224; }

.mailing-container__description span {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.63;
  letter-spacing: 0.4px;
  text-align: left;
  color: #f16d7f; }

.mailing-container__description img {
  display: block;
  height: 83px;
  margin-right: 28px; }

.mailing-container__description q {
  display: block;
  width: 420px;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #222224; }

.mailing-container__description div hr {
  width: 38px;
  border: none;
  height: 4px;
  background-color: #d6d6d6;
  display: inline-block;
  margin-right: 13px;
  margin-top: 41px; }

.mailing-container__description div hr:hover {
  background-color: #f16d7f; }

.mailing-container__line {
  height: 438px;
  width: 1px;
  background-color: #e3e3e3; }

.mailing-container__subscribe {
  padding-top: 125px;
  width: 569.5px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.mailing-container__subscribe h3 {
  font-size: 24px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
  color: #222224;
  text-transform: uppercase; }

.mailing-container__subscribe p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.35px;
  font-weight: 400;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 35px; }

.mailing-container__subscribe form {
  display: flex;
  justify-content: center;
  align-items: center; }

.mailing-container__subscribe input {
  width: 282px;
  height: 46px;
  outline: none;
  border: none;
  padding-left: 28px;
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px; }

.mailing-container__subscribe button {
  outline: none;
  border: none;
  width: 104px;
  height: 46px;
  color: #fff;
  font-size: 14px;
  line-height: 43px;
  letter-spacing: 0.35px;
  text-align: center;
  background-color: #f16d7f;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px; }

.mailing-container__subscribe button:hover {
  box-shadow: 3px 0 3px darkgrey; }

.container-information {
  width: 1140px;
  margin: 0 auto;
  display: flex; }

.brand {
  width: 427px;
  margin-right: 64px; }

.brand__logo {
  margin-bottom: 29px; }

.brand p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  text-align: left;
  color: #898989;
  margin-bottom: 20px; }

.brand p:nth-child(3) {
  margin-bottom: 89px; }

.brand p:nth-child(2) {
  margin-top: 35px; }

.company,
.information,
.category {
  width: 216px;
  display: flex;
  flex-direction: column; }

.company h3,
.information h3,
.category h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
  letter-spacing: 0.45px;
  text-align: left;
  color: #f16d7f;
  margin-bottom: 45px; }

.company a,
.information a,
.category a {
  display: inline-block;
  width: 160px;
  height: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.63;
  letter-spacing: 0.4px;
  text-align: left;
  color: #898989;
  margin-bottom: 25px; }

.copyright {
  width: 100%;
  height: 79px;
  background-color: #e6e6e6; }

.container-copyright {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.container-copyright div:first-of-type,
.container-copyright div:last-of-type {
  height: 79px;
  width: 50%; }

.container-copyright div:first-of-type {
  display: flex;
  align-items: center; }
  .container-copyright div:first-of-type p {
    margin-bottom: 0 !important; }

.container-copyright__text {
  margin-bottom: 0 !important; }

.container-copyright div:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.container-copyright div:last-of-type a {
  display: inline-block;
  height: 32px;
  width: 32px;
  text-decoration: none;
  background-color: #fff;
  margin-right: 8px;
  text-align: center;
  line-height: 32px; }

.container-copyright div:last-of-type a:nth-child(2) {
  background-color: #f16d7f; }

.container-copyright div:last-of-type a:hover {
  background-color: #f16d7f; }

.container-copyright div:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.63;
  letter-spacing: 0.4px;
  text-align: right;
  color: #7a7a7a; }

.container-copyright__icons a:hover {
  transform: scale(1.1); }
.container-copyright__icons img:hover {
  transform: scale(1.1); }

body {
  margin: 0 auto;
  color: #222224;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

main .top-header {
  width: 100%;
  background-color: #f8f3f4; }

.top-header-container {
  width: 1140px;
  height: 148px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.list-links ul {
  display: flex; }
  .list-links ul li {
    list-style-type: none;
    text-align: center; }

.top-header-container p {
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 0.83;
  color: #f16d7f;
  text-transform: uppercase; }

.list-links ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  color: #636363;
  text-transform: uppercase; }

.list-links ul li a:hover {
  color: #f16d7f; }

.shopping-cart_container {
  width: 1140px;
  margin: 90px auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.shopping-cart_container div {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.shopping-cart_container div p {
  margin-left: 50px;
  width: 80px;
  text-align: center; }

.shopping-cart_container p {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: -0.2px;
  color: #222222;
  text-transform: uppercase; }

.headerLine {
  border-bottom: 1px solid #ececec; }

.shopping-cart_products {
  width: 1140px;
  margin: 22px auto 25px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.left-side {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.right-side form {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.right-side form p {
  margin: 0 51px 0 47px;
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #656565;
  text-transform: uppercase; }

.right-side form input {
  width: 54px;
  height: 30px;
  margin: 0 34px 0 35px;
  text-align: center;
  outline: none; }

.right-side form button {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin: 0 30px 0 60px;
  background-color: #fff; }

.right-side form button:hover {
  box-shadow: 3px 0 3px darkgrey; }

.left-side__text {
  margin-left: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.left-side__text div p {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #6f6e6e; }

.left-side__text div p span {
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #575757; }

.left-side__text-chapter {
  margin-bottom: 38px;
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #222222;
  text-transform: uppercase; }

.group-button {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.group-button button {
  width: 235px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  outline: none;
  margin: 44px 0 63px;
  border: solid 1px #eaeaea;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-transform: uppercase; }

.group-button button:hover {
  background-color: #eaeaea; }

.group-form {
  width: 1140px;
  margin: 0 auto 79px;
  display: flex;
  justify-content: space-between; }

.shipping-adress h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px; }
.shipping-adress select {
  display: inline-block;
  width: 355px;
  height: 45px;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  border: solid 1px #eaeaea;
  background-color: #ffffff; }
.shipping-adress input {
  display: inline-block;
  width: 355px;
  height: 45px;
  padding-left: 18px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
  border: solid 1px #eaeaea;
  background-color: #ffffff; }
.shipping-adress button {
  width: 100px;
  height: 35px;
  display: inline-block;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  margin-top: 13px; }

.shipping-adress button:hover {
  background-color: #eaeaea; }

.shipping-adress {
  width: 355px;
  display: flex;
  flex-direction: column; }

.coupon-discount {
  width: 355px;
  display: flex;
  flex-direction: column; }

.coupon-discount h3 {
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-top: 0; }

.coupon-discount form p {
  font-size: 14px;
  color: #000;
  margin-bottom: 24px; }

.coupon-discount input {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 45px;
  background-color: #fff;
  outline: none;
  text-align: left;
  border: solid 1px #eaeaea;
  margin-bottom: 25px;
  box-sizing: border-box;
  padding-left: 18px; }

.coupon-discount button {
  margin: 0;
  padding: 0;
  width: 118px;
  height: 35px;
  background-color: #fff;
  outline: none;
  text-align: left;
  border: solid 1px #eaeaea;
  box-sizing: border-box;
  padding-left: 18px;
  font-size: 11px;
  font-weight: 700;
  color: #4a4a4a;
  text-transform: uppercase; }

.coupon-discount button:hover {
  background-color: #eaeaea; }

.proceed-to-checkout {
  width: 360px;
  height: 214px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  background-color: #f5f3f3;
  box-sizing: border-box;
  padding: 40px 43px 42px 44px; }

.proceed-to-checkout p {
  margin: 0;
  padding: 0; }

.proceed-to-checkout p:first-of-type {
  font-size: 11px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 14px; }

.proceed-to-checkout p:first-of-type span {
  margin-left: 20px; }

.proceed-to-checkout p:last-of-type {
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 22px; }

.proceed-to-checkout p:last-of-type span {
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f16d7f;
  text-transform: uppercase;
  margin-left: 20px; }

.proceed-to-checkout .headerLine {
  width: 273px;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 17px; }

.proceed-to-checkout button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  outline: none;
  border: none;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase; }

.proceed-to-checkout button:hover {
  box-shadow: 3px 0 3px darkgrey; }

/*# sourceMappingURL=shopping_cart.css.map */
