.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  width: 165px;
  height: 51px;
  line-height: 51px;
  text-transform: uppercase;
  background: url("../../../../public/img/logo.png") no-repeat;
  background-blend-mode: overlay;
  font-size: 27px;
  padding-left: 72px;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  color: #222222;
}

.logo span {
  color: $mainColor;
  font-weight: 700;
  font-size: 26px;
}

.logo:hover {
  cursor: pointer;
}

.search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
}

.search__browse {
  padding: 14px;
  background-color: #f9f9f9;
  line-height: 38px;
  border: none;
  color: #7c7c7c;
  outline: none;
  transition: all 300ms ease-in-out;
    &:hover {
      background: #e2e2e2;
    }
}

.search__browse i {
  color: #838383;
}

.header .search input {
  height: inherit;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}



.header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4;
  transition: all 300ms ease-in-out;
  &:hover {
    background: #e2e2e2;
  }
}

.header__cart {
  margin-left: auto;
  margin-right: 26px;
    &:hover {
      cursor: pointer;
  }
}

.header__account-bar {
  border: none;
  outline: none;
  width: 130px;
  line-height: 38px;
  background-color: $mainColor;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border-radius: 3px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: darken($mainColor, 10%);
    cursor: pointer;
  }
}

.headerLine {
  border-bottom: 1px solid #ececec;
}



.topNav {
  height: 51px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.topNav a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 51px;
  color: #222222;
  border-bottom: 3px solid transparent;
  transition: all 300ms ease-in-out;
}

.topNav a:not(:last-child) {
  margin-right: 46px;
}

.topNav a:hover {
  border-bottom: 3px solid $buttonsColor;
}

.bread_crumbs__back {

  background-color: #f8f3f4;
}

.bread_crumbs {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_name {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: $mainColor;
}

.crumb {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  text-decoration: none;
  outline: none;
  transition: all 300ms ease-in-out;

  &:last-child {
    font-weight: 700;
    color: $mainColor;
  }

  &:hover {
    font-weight: 700;
    color: #a11d2f;
  }
}
