$color-select: rgba(241, 109, 127, 1);
$color-white: rgba(255, 255, 255, 1);
$color-white-smoke: $color-white - rgba(8, 8, 8, 1);
$color-black: rgba(34, 34, 34, 1);
$color-platinum: $color-white - rgba(23, 23, 23, 1);
$color-light-grey: $color-white - rgba(68, 68, 68, 1);
$color-dark-grey: $color-light-grey - rgba(27, 27, 27, 1);
$color-deep-grey: $color-black + rgba(53, 53, 53, 1);
$color-red: rgba(255, 13, 13, 1);