main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-nav {
        width: 237px;

        .pr-nav {

            label {
                height: 37px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: $darkColorText;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                border-left: 5px solid $baseBtnColor;
                border-bottom: 1px solid $baseFooterColor;
                padding-left: 11px;
                margin-bottom: 18px;

                &:hover {
                    color: $baseBtnColor;
                    cursor: pointer;
                }

                &:active {
                    color: $darkGray;
                }
            }

            .pr-input,
            .pr-input+label+div {
                display: none;
            }

            .pr-input:checked+label+div {
                display: flex;
                flex-direction: column;

                a {
                    color: $darkColorText;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 33px;
                    cursor: pointer;

                    &:hover {
                        color:$baseTextColor;
                        font-size: 15px;
                    }

                    &:active {
                        color: $backgHoverGray;
                    }
                }
            }
        }
    }

    .main-contant {
        width: 847px;

        .cont-character {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            aside {
                h4 {
                    color: $darkColorText;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin-bottom: 25px;
                }

                span {
                    color: $darkColorText;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;

                }

                .trend-now {
                    width: 176px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    label {
                        color: $darkColorText;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 16px;

                        input {
                            display: none;
                        }

                        &:hover {
                            color: $baseBtnColor;
                        }
                    }

                    .label-border {
                        border-right: 1px solid $backgHoverGray;
                        border-left: 1px solid $backgHoverGray;
                        padding: 0px 7%;
                    }
                }

                .cont-size {
                    width: 336px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    label {
                        display: inline-block;
                        width: 84px;
                        color: $darkColorText;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: uppercase;

                        &:hover {
                            color:$baseTextColor;
                        }

                        input {
                            margin-right: 9px;
                            margin-bottom: 16px;
                        }
                    }
                }

                .slidecontainer {
                    input {
                        appearance: none;
                        width: 263px;
                        height: 6px;
                        background-color: $baseBtnColor;
                        outline: none;
                    }

                    .slider::-webkit-slider-thumb {
                        appearance: none;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: $baseBtnColor;
                        cursor: pointer;
                    }

                }
            }
        }

        .cont-tuning {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;
            width: 846px;
            height: 50px;
            background-color: #f3f3f3;

            div {
                display: flex;
                flex-direction: row;

                span {
                    width: 66px;
                    height: 30px;
                }

                input {
                    padding-left: 5px;
                    width: 46px;
                    cursor: pointer;
                }

                span,
                input {
                    outline: none;
                    color: $darkColorText;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    border: 1px solid $baseFooterColor;
                    background-color: $lightBckgColor;
                }
            }

            div:first-child {
                margin-right: 100px;
                position: relative;

                input {
                    position: absolute;
                    left: 65px;
                    width: 87px;
                    text-decoration: none;
                }

                label {
                    .fa {
                        position: absolute;
                        left: 144px;
                        top: 9px;
                        background-color: $lightBckgColor;
                        color: $darkColorText;
                    }
                }
            }

            div:first-child+div {
                position: relative;

                label {
                    .fa {
                        position: absolute;
                        left: 102px;
                        top: 9px;
                        background-color: $lightBckgColor;
                        color: $darkColorText;
                    }
                }

                input {
                    position: absolute;
                    left: 64px;
                }
            }
        }


        .clothes-nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 110px;

            .cl-nav-number {
                width: 231px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                    color: $backgHoverGray;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 26px;
                    font-weight: 300;

                    &:hover {
                        color: $baseBtnColor;
                    }
                }
            }

            .cl-nav-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 44px;
                border-radius: 3px;
                border: 1px solid $baseBtnColor;
                background-color: $lightBckgColor;

                a {
                    color: $baseBtnColor;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 26px;
                    font-weight: 300;
                }

                &:hover {
                    background-color: $baseBtnColor;
                }

                &:hover a {
                    color: $lightBckgColor;
                }
            }
        }
    }
}