@import "variables";
.footer {
  height: 430px
}
.footer__top {
  height: 350px;
  display: flex;
  justify-content: space-between;
}
.footer_blockText {
  width: 430px;
  p{
    font-size: 14px;
    line-height: 24px;
    color: #898989;
    letter-spacing: 0.35px;
  }
}

.footer_blockLink {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
  }
  a:hover {
    color: $colorFont;
  }
  p {
    text-transform: uppercase;
    font-size: 18px;
    color: $colorFont;
    font-weight: 700;
  }
}

.footer__bottom {
  background-color: #e6e6e6;

  .footerBG {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    p {
      width: 260px;
      height: 14px;
      color: #7a7a7a;
      font-size: 16px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0.4px;
    }
  }

}



.footerBG-link{
  width: 260px;
  height: 79px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-link {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  text-align: center;
  :hover {
    background: $colorIconBGHover;
  }
  i {
    color: #c2c2c2;
    padding: 8px;
  }
  i:hover {
    color: #fff;
  }

}



