@import "variables";
.header {
  height: 200px;
  display: flex;
  align-items: center;
}
.logo {
  width: 165px;
  line-height: 51px;
  text-transform: uppercase;
  background: url("../../../assets/imgs/logo.png") no-repeat;
  background-blend-mode: overlay;
  font-size: 27px;
  padding-left: 72px;
  text-decoration: none;
  color: #222222;
  margin-right: 20px;
  span {
    font-weight: 700;
    color: $colorFont;
  }
}

.search {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
    .search__browse {
      padding: 14px;
      background-color: #f6f6f6;
      line-height: 38px;
      border: none;
      color: #7c7c7c;
      outline: none;
      i {
        color: #838383;
      }
    }
    & input {
        height: inherit;
        border: none;
        overflow: hidden;
        padding: 14px 16px;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        outline: none;
    }
    & button:last-child {
      border: none;
      height: inherit;
      background: none;
      padding: 12px;
      outline: none;
      color: #a4a4a4;
    }
}



.header__cart {
  margin-left: auto;
  margin-right: 26px;;
}



.header__account-bar {
  width: 130px;
  line-height: 32px;
  background-color: $colorButtonBG;
  padding-left: 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border: none;
  &:hover {
    box-shadow: 0 0 10px $colorButtonBG;
  }
}
.headerLine {
  border-bottom: 1px solid #ececec;
}


.topNav {
  height: 51px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    padding-bottom: 10px;
    &:hover {
      padding-bottom: 7px;
      border-bottom: 3px solid $colorFont;
    }
    &:not(:last-child) {
      margin-right: 46px;
    }

  }
}

  .header__cart {
    margin-left: auto;
    margin-right: 26px;

  }

 
.headerCart {
  position: relative; 
  margin-left: auto;
  button {
    outline: none;
    border: none;
    background: none;
  }

}
  /*.headerCart:hover .headerCartWrap {
    display: block;
    z-index: 2; } */

.headerCartWrap {
    position: absolute;
    width: 260px;
    left: -57px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px; 
    margin-top: 10px;
}
@media (max-width: 650px) {
      .headerCart .headerCartWrap {
        left: -120px; } 
}
.headerCartWrapBlock {
  height: 15px; padding: 10px;
}




.headerCartWrapIn {
  background: #ffffff;
  margin-bottom: 10px; 
  display: flex;
  justify-content: space-between;
  &:last-child {
    margin-bottom: 0;
  }
  & a {
    text-decoration: none;
    & img {
      width: 85px;
      height: 100px;
    }
  }
  
}
.headerCartWrapInAll div {
  justify-content: space-between;
  align-items: center; 
}
.headerCartWrapInAll div a:last-child {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; 
}

.headerCartWrapInAll div a:last-child:hover {
  color: #f16d7f; 
}
.headerCartWrapInAll div a {
  text-decoration: none; 
  display: flex;
}
.headerCartWrapInAll div a div {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: start; 
}


.headerCartWrapInAll div a div:first-child {
  color: #222222;
  font-weight: 700; 
}
 .headerCartWrapInAll div a div:last-child {
    color: #f16d7f; 
  }
 .headerCartWrapInAll div a div span {
    color: #e4af48; 
 }



.headerCartWrapPrice {
  color: #f16d7f;
  display: flex;
  flex-direction: row;
}

.headerCartWrapInAll div a img {
  padding-right: 0.5rem; 
}


.headerCartWrapTotalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; 
span {
    text-transform: lowercase;
    font-size: 10px;
    padding: 0 0.3rem; 
  }
}

.productsButtonIndex {
  width: -webkit-fill-available;
  margin-top: 1rem; 
  &:last-child {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    background-color: #ffffff; }
}
.invisible {
  display: none !important;
}

.goldenStar {
  color:#e4af48; 
}
