@import "variables";
.subscribeBG {
  min-width: 1140px;
  background: url("../../../assets/imgs/Layer_41.png") no-repeat, #ccc;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  margin-bottom: 50px;
  .subscribe {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    .line {
      height: inherit;
      border-right: 2px solid #fff;
    }
  }
}

.subscribe__block {
  width: 569px;
  display: flex;
  align-items: flex-start;
  & img {
    object-fit: contain;
    margin-right: 28px;
  }
  & p{
    width: 386px;
    color: #222224;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-style: italic;
  }
  & p:last-child {
    width: 82px;
    height: 27px;
    font-weight: 700;
    line-height: 26px;
    color: $colorFont;
    font-style: normal;
  }
  & span {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
  }
}

.subscribe__blockFeedback {
  width: 569px;
  &-text {
    margin-bottom: 30px;
    & h3{
      width: 277px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      margin: auto;
    }
    & p {
      width: 277px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      margin: auto;
    }
  }
}

.subscribeForm {
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  input{
    width: 252px;
    padding: 15px 16px;
    overflow: hidden;
    background-color: #e1e1e1;
    outline: none;
    border: none;
    border-radius: 23px 0 0 23px;
  }
  button {
    width: 104px;
    height: 46px;
    background-color: $colorButtonBG;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0 23px 23px 0;
    &:hover {
      box-shadow: 0 0 10px $colorButtonBGHover;
    }
  }

}


