$colorButtonBG: #f16d7f;
$colorButtonBGHover: #ef5b70;
$colorButtonBorder: #ef5b70;
$colorButtonText: #ef5b70;
$colorFont: #f16d7f;
$colorBG: #f16d7f;
$colorProductHover: #ffffff;
$colorIconBGHover: #f16d7f;
$colorSliderBGSinglePage: #f7f7f7;
