@import "bs";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container {
  width: 1140px;
  margin: auto;
}

.cartProductTop {
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  margin-bottom: 25px;
}

.cartTopDetailes {
  width: 550px;
}

.cartTopPrice {
  width: 140px;
}

.cartTopQuantility {
  width: 140px;
}

.cartTopShipping {
  width: 140px;
}

.cartTopSubtotal {
  width: 110px;
}

.cartTopProductDetailes {
  width: 60px;
}



.cartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  margin-bottom: 25px;
  color: #6f6e6e;

}


.cartLine {
  border-bottom: 2px solid #eaeaea;
  width: 1140px;
  margin-bottom: 25px;
}

.cartDetailes {
  width: 550px;
  display: flex;
  align-items: center;
}

.detailesImage {
  width: 100px;
  height: 115px;
  margin-right: 20px;
}

.detailesDescription a {
  text-decoration: none;
  color: #222222;
}

.detailesDescription p {
  color: #6f6e6e;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.cartPrice {
  width: 140px;
}

.cartQuantility {
  width: 140px;
  & input {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    outline: none;
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }
}

.cartShipping {
  width: 140px;
}

.cartSubtotal {
  width: 110px;
}

.cartProductDetailes {
  width: 60px;
}

.cartProductDetailes button {
  border: none;
  outline: none;
  background: #ffffff;
  & i {
    color: #c0c0c0;
    margin: 0 15px;
    &:hover {
      color: #f16d7f;
    }
  }
}

.cartButton {
  height: 100px;
  outline: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  & button {
    height: 50px;
    width: 250px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid #eaeaea;
    &:hover {
      border: 1px solid #f16d7f;
      color: #f16d7f;
    }
  }
}

.cartForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  &Text {
    height: 13px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  & input {
    width: 325px;
    height: 25px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 10px 15px;
    outline: none;
    font-size: 13px;
    color: #222222;
    text-transform: capitalize;

    &:hover {
      border: 1px solid #222222;
    }
  }
  &Button {
    width: 120px;
    height: 40px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    &:hover {
      border: 1px solid #f16d7f;
      color: #f16d7f;
    }
  }
}

.shippingAdress {
  height: 280px;
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}









.couponDiscount {
  height: 185px;
  width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.check {
  height: 300px;
  &Out {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &Sub {
      width: 273px;
      height: 12px;
      margin-top: 20px;
      color: #4a4a4a;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: end;
      & span {
        padding-left: 20px;
      }
    }
    &Total {
      width: 273px;
      height: 16px;
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: right;
      & span {
        color: #f16d7f;
        padding-left: 10px;
      }
    }
    & .line {
      width: 275px;
      border-bottom: 1px solid #e2e2e2;
    }
    & button {
      width: 273px;
      height: 50px;
      background-color: #f16d7f;
      color: #ffffff;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      outline: none;
      &:hover {
        box-shadow: 0 0 10px #f16d7f;
      }
    }
  }
}


.subscribeBG {
  min-width: 1140px;
  background: url("../../../assets/imgs/Layer_41.png") no-repeat, #ccc;
  background-size: cover;
  background-blend-mode: overlay;
}

.subscribe {
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 100px;
  .line {
    height: inherit;
    border-right: 2px solid #fff;
  }
}

.subscribe__block {
  width: 569px;
  display: flex;
  align-items: flex-start;
  & img {
    object-fit: contain;
    margin-right: 28px;
  }
  & p{
    width: 386px;
    color: #222224;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-style: italic;
  }
  & p:last-child {
    width: 82px;
    height: 27px;
    font-weight: 700;
    line-height: 26px;
    color: #f16d7f;
    font-style: normal;
  }
  & span {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
  }
}

.subscribe__blockFeedback {
  width: 569px;
  &-text {
    margin-bottom: 30px;
    & h3{
      width: 277px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      margin: auto;
    }
    & p {
      width: 277px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      margin: auto;
    }
  }
}

.subscribeForm {
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  input{
    width: 252px;
    padding: 15px 16px;
    overflow: hidden;
    background-color: #e1e1e1;
    outline: none;
    border: none;
    border-radius: 23px 0 0 23px;
  }
  button {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0 23px 23px 0;
    &:hover {
      box-shadow: 0 0 10px #f16d7f;
    }
  }
}