@font-face {
  font-family: 'fontAwesome';
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }

.flexRow, .logo a, .container .header, .container .header .header-search, .container .header .header-search .logo a, .container .header-account, .container .header-account .my_account .my-account-cart .selected-item, .container .header-account .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .way_background .way, .subscribe .sbsc-content, .about-us .about-us-text .logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexRowJusti, .subscribe .sbsc-content .sbsc-left, .about-us, footer .footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flexColumn, .container .header-account .my_account:focus-within .my-account-cart, .container .header-account .my_account .my-account-cart .selected-item div, .container .header-account .my_account:focus .my-account-cart, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJusti {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexColumnJustAround, .about-us .about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.logo {
  height: 51px;
  width: 165px; }
  .logo a span {
    font-size: 27px;
    font-weight: inherit;
    color: #222222;
    display: inline-block; }
    .logo a span .logo-text_color {
      font-weight: 700;
      color: #f16d7f; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto-Regular', sans-serif; }

a {
  text-decoration: none; }

button:active,
a:active {
  opacity: 0.8; }

button:focus,
button:active {
  outline: none; }

.container {
  margin: 0 auto;
  width: 1145px; }

.flexRow, .logo a, .container .header, .container .header .header-search, .container .header .header-search .logo a, .container .header-account, .container .header-account .my_account .my-account-cart .selected-item, .container .header-account .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .way_background .way, .subscribe .sbsc-content, .about-us .about-us-text .logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexRowJusti, .subscribe .sbsc-content .sbsc-left, .about-us, footer .footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flexColumn, .container .header-account .my_account:focus-within .my-account-cart, .container .header-account .my_account .my-account-cart .selected-item div, .container .header-account .my_account:focus .my-account-cart, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJusti {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexColumnJustAround, .about-us .about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.container .header {
  height: 100px;
  border-bottom: 1px solid #e1e1e1; }
  .container .header .header-search {
    width: 605px; }
    .container .header .header-search .logo {
      height: 51px;
      width: 165px; }
      .container .header .header-search .logo a span {
        font-size: 27px;
        font-weight: inherit;
        color: #222222;
        display: inline-block; }
        .container .header .header-search .logo a span .logo-text_color {
          font-weight: 700;
          color: #f16d7f; }
    .container .header .header-search .search {
      height: 38px;
      border-radius: 3px;
      font-size: 14px;
      border: 1px solid #e6e6e6;
      display: flex;
      flex-direction: row; }
      .container .header .header-search .search .browse {
        position: relative;
        height: 38px;
        width: 87px; }
        .container .header .header-search .search .browse:hover {
          cursor: pointer; }
        .container .header .header-search .search .browse .browse-btn {
          font-weight: 300;
          color: #222222;
          line-height: 32px;
          height: 38px;
          width: 87px;
          padding: 0px;
          outline: none;
          cursor: pointer;
          border: none; }
          .container .header .header-search .search .browse .browse-btn:active {
            background-color: #a4a4a4; }
          .container .header .header-search .search .browse .browse-btn:hover {
            background-color: #a4a4a4; }
        .container .header .header-search .search .browse .browse-nav {
          display: none;
          padding-left: 10px;
          width: 262px;
          height: 557px;
          background-color: #ffffff;
          border: 1px solid #e1e1e1;
          border-radius: 5px;
          position: absolute;
          left: -1px;
          top: 40px;
          z-index: 999; }
          .container .header .header-search .search .browse .browse-nav a {
            color: #4a4a4a;
            font-size: 14px;
            font-weight: 400;
            line-height: 28px; }
            .container .header .header-search .search .browse .browse-nav a:hover {
              color: #a4a4a4; }
          .container .header .header-search .search .browse .browse-nav a h3 {
            color: #222222;
            font-size: 14px;
            font-weight: 700;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            border-bottom: 1px solid #e1e1e1;
            width: 252px;
            text-align: left; }
            .container .header .header-search .search .browse .browse-nav a h3:hover {
              color: #f16d7f; }
        .container .header .header-search .search .browse:focus-within .browse-nav {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start; }
      .container .header .header-search .search input {
        border: none;
        width: 265px;
        height: 38px;
        padding: 0px 0px 0px 15px;
        overflow: hidden;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6; }
        .container .header .header-search .search input:focus {
          outline: none; }
      .container .header .header-search .search .search_loupe {
        border: none;
        width: 36px;
        height: 38px;
        padding: 0px;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        background: none; }
        .container .header .header-search .search .search_loupe i {
          color: #a4a4a4; }
        .container .header .header-search .search .search_loupe:hover {
          background-color: #a4a4a4; }
        .container .header .header-search .search .search_loupe:hover i {
          color: white;
          transform: rotateY(360deg) scale(1.2);
          transition: 1s; }

.container .header-account {
  width: 188px;
  position: relative; }
  .container .header-account .basket i {
    font-size: 34px;
    color: #222222; }
    .container .header-account .basket i:hover {
      cursor: pointer;
      color: #a4a4a4; }
  .container .header-account .basket:hover {
    transform: scale(1.5);
    transition: 0.5s; }
  .container .header-account .my_account {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; }
    .container .header-account .my_account:focus-within .my-account-cart {
      position: absolute;
      z-index: 99;
      width: 262px;
      height: 440px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      background-color: #ffffff;
      top: 38px;
      left: -30px;
      padding: 20px 15px 20px 17px; }
    .container .header-account .my_account .my-account-link {
      color: #ffffff;
      outline: none; }
    .container .header-account .my_account:hover {
      cursor: pointer;
      background-color: #a4a4a4; }
    .container .header-account .my_account .my-account-cart {
      display: none; }
      .container .header-account .my_account .my-account-cart .selected-item {
        margin-bottom: 21px;
        width: 230px; }
        .container .header-account .my_account .my-account-cart .selected-item div {
          justify-content: space-around;
          height: 85px; }
          .container .header-account .my_account .my-account-cart .selected-item div img {
            width: 72px;
            height: 85px;
            display: block; }
          .container .header-account .my_account .my-account-cart .selected-item div .item-price {
            color: #f16d7f;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase; }
          .container .header-account .my_account .my-account-cart .selected-item div .item-name {
            color: #222222;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase; }
          .container .header-account .my_account .my-account-cart .selected-item div .item-stars a {
            color: #e4af48;
            font-family: "Font Awesome";
            font-size: 12px;
            font-weight: 400; }
        .container .header-account .my_account .my-account-cart .selected-item .fa-times-circle-o {
          color: #a4a4a4;
          font-size: 16px;
          font-weight: 400; }
          .container .header-account .my_account .my-account-cart .selected-item .fa-times-circle-o:hover {
            color: #f16d7f; }
      .container .header-account .my_account .my-account-cart .total {
        width: 230px;
        color: #222222;
        font-size: 16px;
        font-weight: 700; }
      .container .header-account .my_account .my-account-cart button {
        width: 225px;
        height: 50px;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase; }
        .container .header-account .my_account .my-account-cart button:active {
          background-color: #a4a4a4; }
      .container .header-account .my_account .my-account-cart .checkout-btn {
        border: 1px solid #f16d7f;
        color: #f16d7f; }
        .container .header-account .my_account .my-account-cart .checkout-btn:hover {
          background-color: #f16d7f;
          color: #ffffff; }
      .container .header-account .my_account .my-account-cart .go-to-cart-btn {
        border: 1px solid #4a4a4a;
        color: #4a4a4a; }
        .container .header-account .my_account .my-account-cart .go-to-cart-btn:hover {
          background-color: #4a4a4a;
          color: #ffffff; }
    .container .header-account .my_account:focus .my-account-cart {
      position: absolute;
      width: 262px;
      height: 440px;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
      background-color: #ffffff;
      top: 53px;
      left: -30px;
      padding: 20px 15px 20px 17px; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 51px; }
  .menu .menu-section {
    display: flex;
    color: #222222;
    align-items: center;
    font-size: 14px;
    height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 21px; }
    .menu .menu-section:hover {
      opacity: 0.7; }
  .menu .menu-woman a {
    position: relative; }
  .menu .menu-woman:hover .menu-drop-down {
    align-items: flex-start;
    z-index: 999; }
  .menu .menu-woman .menu-drop-down {
    display: none;
    position: absolute;
    width: 846px;
    height: 352px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #ffffff;
    top: 137px;
    left: 490px;
    padding: 20px 25px; }
    .menu .menu-woman .menu-drop-down .menu-dr-dn-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 310px; }
      .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 {
        border-bottom: 1px solid #e1e1e1; }
        .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 a {
          color: #222222;
          font-size: 16px;
          font-weight: 700;
          line-height: 32px;
          text-transform: uppercase;
          letter-spacing: 0.35px;
          padding-bottom: 25px; }
          .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 a:hover {
            color: #f16d7f;
            opacity: 1; }
          .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 a:active {
            color: #222222; }
      .menu .menu-woman .menu-drop-down .menu-dr-dn-column a {
        width: 255px;
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.35px; }
        .menu .menu-woman .menu-drop-down .menu-dr-dn-column a:hover {
          opacity: 0.7; }
        .menu .menu-woman .menu-drop-down .menu-dr-dn-column a:active {
          color: #222222; }

.flexRow, .logo a, .container .header, .container .header .header-search, .container .header .header-search .logo a, .container .header-account, .container .header-account .my_account .my-account-cart .selected-item, .container .header-account .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .way_background .way, .subscribe .sbsc-content, .about-us .about-us-text .logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexRowJusti, .subscribe .sbsc-content .sbsc-left, .about-us, footer .footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flexColumn, .container .header-account .my_account:focus-within .my-account-cart, .container .header-account .my_account .my-account-cart .selected-item div, .container .header-account .my_account:focus .my-account-cart, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJusti {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexColumnJustAround, .about-us .about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.way_background {
  background-color: #f8f3f4; }

@-webkit-keyframes hanger {
  0% {
    left: 0px;
    top: 20px; }
  30% {
    left: 300px;
    top: 80px; }
  60% {
    left: 700px;
    top: 20px; }
  100% {
    left: 1050px;
    top: 80px; } }

@keyframes hanger {
  0% {
    left: 0px;
    top: 20px; }
  30% {
    left: 300px;
    top: 80px; }
  60% {
    left: 700px;
    top: 20px; }
  100% {
    left: 1050px;
    top: 80px; } }
  .way_background .way {
    height: 148px;
    margin-bottom: 90px;
    position: relative; }
    .way_background .way img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      z-index: 0;
      -webkit-animation: hanger  5s infinite alternate;
      animation: hanger  5s infinite alternate; }
    .way_background .way h2 {
      color: #f16d7f;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase; }
    .way_background .way h3 {
      color: #636363;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase; }
      .way_background .way h3 span {
        color: #f16d7f; }

.fetured-items-conteuner {
  margin-top: 119px; }
  .fetured-items-conteuner .fetured-items {
    height: 51px;
    margin-bottom: 60px; }
    .fetured-items-conteuner .fetured-items h3 {
      color: #222222;
      font-size: 30px;
      font-weight: 700; }
    .fetured-items-conteuner .fetured-items p {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 400; }
  .fetured-items-conteuner .ftr-product {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 80px; }
    .fetured-items-conteuner .ftr-product .clothes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px; }
      .fetured-items-conteuner .ftr-product .clothes a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        width: 263px;
        text-transform: uppercase;
        width: 260px;
        height: 280px; }
        .fetured-items-conteuner .ftr-product .clothes a img {
          display: block;
          z-index: 0;
          width: 260px;
          height: 280px; }
        .fetured-items-conteuner .ftr-product .clothes a .ftr-product_hover {
          position: absolute;
          display: none;
          width: 263px;
          height: 281px;
          background-color: #4a4a4a;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          opacity: 0.8; }
          .fetured-items-conteuner .ftr-product .clothes a .ftr-product_hover p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 123px;
            height: 37px;
            border: 1px solid #ffffff;
            text-transform: lowercase; }
            .fetured-items-conteuner .ftr-product .clothes a .ftr-product_hover p:hover {
              background-color: #e6e6e6;
              color: #4a4a4a; }
      .fetured-items-conteuner .ftr-product .clothes .clothers-p .ftr-name {
        color: #222222;
        font-size: 13px;
        margin-top: 19px; }
      .fetured-items-conteuner .ftr-product .clothes .clothers-p .ftr-price {
        color: #f16d7f;
        font-size: 16px; }
      .fetured-items-conteuner .ftr-product .clothes p {
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 15px; }
      .fetured-items-conteuner .ftr-product .clothes:hover .ftr-product_hover {
        display: flex;
        align-items: center;
        justify-content: center; }
      .fetured-items-conteuner .ftr-product .clothes:hover .clothers-p {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .fetured-items-conteuner .all-products a {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 113px; }
    .fetured-items-conteuner .all-products a:hover {
      background-color: #c7c7c7; }

.container {
  padding: 0px; }

.flexRow, .logo a, .container .header, .container .header .header-search, .container .header .header-search .logo a, .container .header-account, .container .header-account .my_account .my-account-cart .selected-item, .container .header-account .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .way_background .way, .subscribe .sbsc-content, .about-us .about-us-text .logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexRowJusti, .subscribe .sbsc-content .sbsc-left, .about-us, footer .footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flexColumn, .container .header-account .my_account:focus-within .my-account-cart, .container .header-account .my_account .my-account-cart .selected-item div, .container .header-account .my_account:focus .my-account-cart, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJusti {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexColumnJustAround, .about-us .about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.subscribe {
  margin: 0 auto;
  background: url(../img/6_subscribe/subscribe.jpg) no-repeat, #ccc;
  background-blend-mode: unset;
  background-size: cover; }
  .subscribe .sbsc-content {
    height: 438px; }
    .subscribe .sbsc-content .sbsc-left {
      align-items: flex-start;
      width: 536px; }
      .subscribe .sbsc-content .sbsc-left .sbsc-text {
        width: 396px;
        color: #222222;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 19px; }
      .subscribe .sbsc-content .sbsc-left .sbsc-name {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px; }
      .subscribe .sbsc-content .sbsc-left .sbsc-sec-name {
        color: #222222;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 14px; }
      .subscribe .sbsc-content .sbsc-left .sbsc-line-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 89px;
        height: 45px; }
        .subscribe .sbsc-content .sbsc-left .sbsc-line-flex .sbcs-line-left {
          width: 38px;
          height: 4px;
          background-color: #e6e6e6; }
          .subscribe .sbsc-content .sbsc-left .sbsc-line-flex .sbcs-line-left:hover {
            background-color: #f16d7f; }
        .subscribe .sbsc-content .sbsc-left .sbsc-line-flex .sbcs-line-right {
          width: 38px;
          height: 4px;
          background-color: #f16d7f; }
          .subscribe .sbsc-content .sbsc-left .sbsc-line-flex .sbcs-line-right:hover {
            background-color: #e6e6e6; }
    .subscribe .sbsc-content .sbsc-center {
      height: 100%;
      width: 1px;
      background-color: #ffffff; }
    .subscribe .sbsc-content .sbsc-right h3 {
      color: #222222;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      line-height: 54px; }
    .subscribe .sbsc-content .sbsc-right h4 {
      font-weight: 300;
      letter-spacing: 0.35px;
      margin-bottom: 35px;
      text-align: center; }
    .subscribe .sbsc-content .sbsc-right input {
      width: 282px;
      border: none;
      height: 46px;
      border-radius: 50px 0px 0px 50px;
      background-color: #e6e6e6;
      padding-left: 28px; }
      .subscribe .sbsc-content .sbsc-right input:focus {
        outline: none; }
    .subscribe .sbsc-content .sbsc-right button {
      width: 104px;
      border: none;
      height: 46px;
      border-radius: 0px 50px 50px 0px;
      background-color: #f16d7f;
      color: #ffffff; }
      .subscribe .sbsc-content .sbsc-right button:focus {
        outline: none; }
      .subscribe .sbsc-content .sbsc-right button:hover {
        background-color: #c7c7c7; }

.flexRow, .logo a, .container .header, .container .header .header-search, .container .header .header-search .logo a, .container .header-account, .container .header-account .my_account .my-account-cart .selected-item, .container .header-account .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .way_background .way, .subscribe .sbsc-content, .about-us .about-us-text .logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexRowJusti, .subscribe .sbsc-content .sbsc-left, .about-us, footer .footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flexColumn, .container .header-account .my_account:focus-within .my-account-cart, .container .header-account .my_account .my-account-cart .selected-item div, .container .header-account .my_account:focus .my-account-cart, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJusti {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexColumnJustAround, .about-us .about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.about-us {
  height: 260px;
  margin-top: 109px;
  margin-bottom: 89px; }
  .about-us .about-us-text {
    width: 446px;
    letter-spacing: 0.35px; }
    .about-us .about-us-text .logo {
      height: 51px;
      width: 165px; }
      .about-us .about-us-text .logo a span {
        font-size: 27px;
        font-weight: inherit;
        color: #222222;
        display: inline-block; }
        .about-us .about-us-text .logo a span .logo-text_color {
          font-weight: 700;
          color: #f16d7f; }
    .about-us .about-us-text p {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.35px; }
  .about-us .nav-about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 608px; }
    .about-us .nav-about-us .about-us-information {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .about-us .nav-about-us .about-us-information h3 a {
        color: #f16d7f;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.45px; }
        .about-us .nav-about-us .about-us-information h3 a:hover {
          color: #9f9f9f; }
      .about-us .nav-about-us .about-us-information a {
        color: #898989;
        font-size: 16px;
        font-weight: 400; }
        .about-us .nav-about-us .about-us-information a:hover {
          color: #f16d7f; }

.flexRow, .logo a, .container .header, .container .header .header-search, .container .header .header-search .logo a, .container .header-account, .container .header-account .my_account .my-account-cart .selected-item, .container .header-account .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .way_background .way, .subscribe .sbsc-content, .about-us .about-us-text .logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexRowJusti, .subscribe .sbsc-content .sbsc-left, .about-us, footer .footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flexColumn, .container .header-account .my_account:focus-within .my-account-cart, .container .header-account .my_account .my-account-cart .selected-item div, .container .header-account .my_account:focus .my-account-cart, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJusti {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexColumnJustAround, .about-us .about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  height: 79px;
  background-color: #e6e6e6; }
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px; }
    footer .footer p a {
      color: #9f9f9f;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px; }
      footer .footer p a:hover {
        color: #3e3e40; }
    footer .footer .footer-link {
      width: 191px;
      height: 32px; }
      footer .footer .footer-link a {
        height: 16px;
        color: #9f9f9f;
        font-size: 16px;
        font-weight: 400; }
        footer .footer .footer-link a i {
          width: 32px;
          height: 32px;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center; }
          footer .footer .footer-link a i:hover {
            color: #ffffff;
            background-color: #f16d7f; }

.search {
  height: 40px !important; }

a:hover {
  text-decoration: none;
  border: none; }

main {
  background-color: #f7f7f7; }
  main .carousel-item img {
    width: 597px !important;
    height: 724px; }

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 1280px; }

.product-description {
  position: absolute;
  top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1142px;
  height: 730px;
  padding: 0px 250px;
  margin: 0px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff; }
  .product-description .pr-desc-header {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 73px 0px 67px; }
    .product-description .pr-desc-header h4 {
      margin-bottom: 14px;
      color: #f16d7f;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    .product-description .pr-desc-header h3 {
      color: #4a4a4a;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin: 0px;
      margin-top: 17px;
      text-transform: uppercase; }
  .product-description p {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    width: 618px; }
  .product-description .single-paggination {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .product-description .single-paggination .sing-pr-desc-line_slim {
      width: 74px;
      height: 1px;
      background-color: #e6e6e6;
      display: flex;
      justify-content: center;
      outline: none; }
      .product-description .single-paggination .sing-pr-desc-line_slim:hover {
        background-color: #4a4a4a; }
    .product-description .single-paggination .sing-pr-desc-line_bold {
      position: absolute;
      height: 3px;
      width: 63px;
      background-color: #f16d7f;
      left: 42px; }
  .product-description .single-pr-desc-charact-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 334px; }
    .product-description .single-pr-desc-charact-up p {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
      .product-description .single-pr-desc-charact-up p span {
        color: #2f2f2f;
        font-size: 14px;
        text-transform: uppercase; }
  .product-description span {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin: 21px 0px 43px; }
  .product-description .single-pr-desc-line {
    height: 1px;
    width: 642px;
    border: 1px solid #e6e6e6;
    margin-bottom: 63px; }
  .product-description .single-pr-desc-charact-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 538px; }
    .product-description .single-pr-desc-charact-down div {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .product-description .single-pr-desc-charact-down div h5 {
        color: #2f2f2f;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase; }
      .product-description .single-pr-desc-charact-down div input {
        width: 144px;
        height: 35px;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        padding-left: 15px;
        outline: none; }
  .product-description button {
    width: 537px;
    height: 55px;
    border: 1px solid #f16d7f;
    background-color: #ffffff;
    color: #f16d7f;
    margin-top: 28px; }
    .product-description button:hover {
      background-color: #f16d7f;
      color: #ffffff; }
    .product-description button:active {
      background-color: #4a4a4a;
      border: #4a4a4a; }

.single-galary h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px 0px 52px;
  text-transform: uppercase; }

.single-galary .ftr-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
