$baseBtnColor: #f16d7f;
$moreBtnColor: #f6f6f6;
$baseTextColor: #222222;
$moreTextColor: #9f9f9f;
$lightTextColor: #fbfbfb;
$lightBckgColor: #ffffff;
$baseFooterColor: #e6e6e6;
$borderColor: #e1e1e1;
$darkGray: #4a4a4a;
$lightGray: #a4a4a4;
$backgHoverGray: #c7c7c7;
$colorDarkGrayH5: #2f2f2f;
$importantInform: #ff0d0d;
$darkColorText: #6f6e6e;